mixin radiobutton(text,value, group, checked)
	if checked
		label.label-radio&attributes(attributes) 
			input.input-radio(type="radio" name=group value=value checked)
			p.label-radio__text #{text}
	else
		label.label-radio&attributes(attributes)
			input.input-radio(type="radio" name=group value=value)
			p.label-radio__text #{text}