mixin checkbox(name, text1, checked, inputAttrs, presentationAttrs)
	label.checkbox__label()
		input.checkbox__input(
		type="checkbox"
		name=name
		checked=checked)&attributes(inputAttrs)
		i.material-icons.checkbox__check-icon done
		| #{text1}
		
mixin checkbox2(text, checked)

	if checked
		label.checkbox__label&attributes(attributes)
			input(type="checkbox" name="checkbox" checked).checkbox__input
			i.material-icons.checkbox__check-icon done
			|#{text}
	else
		label.checkbox__label&attributes(attributes)
			input(type="checkbox" name="checkbox").checkbox__input
			i.material-icons.checkbox__check-icon done
			|#{text}

mixin checkboxList(header, list)
	.expandable-checkbox&attributes(attributes)
		.expandable-checkbox__header #{header}
		if list
			.expandable-checkbox__list
				each item in list
					.expandable-checkbox__list-item
						if item[1] === "0"
							+checkbox2(item[0])
						else
							+checkbox2(item[0], "checked")
		.expandable-checkbox__arrow
			i.material-icons expand_less
			
mixin checkboxRich(text, desc)
	label.label-check-rich&attributes(attributes)
		input(type="checkbox" name="checkbox").label-check-rich__input
		i.material-icons.checkbox__check-icon done
		|#{text}
		.label-check-rich__description #{desc}